.vscode
.mypy_cache
docker-stack.yml
venv/
uploaded_files/*
uploaded_files/.gitkeep
trained_models/*
!trained_models/.gitkeep
.env_prod
.coverage
.secrets
.DS_Store
login_error.html

*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.venv/
env/
.env

__pycache__/